
.activationRow{
    padding-top: 60px !important;
}
.activationCard{
    background-color: gainsboro !important;
}
.activationPara{
margin-bottom: 0px !important;
}

.activationBtn{
    background-color: #0d9efd !important
}